.PreRoundContainer(data-bind="fadeVisible: IsPreRound")
    .ClaimCardAdministrator
        p There is not currently a Card Administrator.
        .text-center
            button.btn.btn-primary.btn-large(type="button", role="button", data-bind="click: RequestCardAdministrator") Become Card Administrator