.SubmittedAnswersContainer(data-bind="fadeVisible: ShowSubmittedAnswerView")
    p You have submitted the following answer(s):
    .PlaceholderList(data-bind="foreach: SubmittedAnswers")
        .Card(data-bind="html: Text")