extends layout
block content
    script(type="text/javascript").
        GameID = "#{GameID}";
    script(src="/js/gameclient.js")
    include ./partials/GameMenuView.jade
    span.ScoreField Score: #[span(data-bind="text: AwesomePoints")]
    span.DisconnectedMessage.text-danger(data-bind="visible: !SocketConnected()")
        span.glyphicon.glyphicon-warning-sign
        |  Lost connection to server
    .PlayAreaDummy
    .PlayArea
        include ./partials/PreRoundView.jade
        include ./partials/CardAdministrator/QuestionView.jade
        include ./partials/SelectAnswerView.jade
        include ./partials/SubmittedAnswersView.jade
        include ./partials/CardAdministrator/SubmittedAnswersView.jade
    .HandContainer
        include ./partials/HandView.jade