extends layout
block content
    .container
        .row
            .col-md-6.col-md-offset-3
                h1.text-center Cards Against Continuity
                p You have several options to get started playing a Cards against Continuity game.
                .text-center
                    button.btn.btn-primary.btn-lg(role='button')#NewGameButton New Game
                if GameID
                    br
                    br
                    .text-center
                        p You appear to have been part of a game recently that is still in progress.  If you would like to rejoin this game, click the following button:
                        button.btn.btn-primary.btn-lg(role='button', data-gameid='#{GameID}')#RejoinGameButton Rejoin Game
                br
                br
                p If you have been provided a game key, enter it here:
                .text-center
                    form(role='form').form-inline
                        .form-group
                            label.sr-only(for='GameKey') Enter game key
                            input#GameKey(type='text', placeholder='Enter game key').form-control
                        button#JoinGameButton.btn.btn-default(type='button') Join Game
                br
                br
                p Or, if you would like to allow nearby players to locate and invite you directly, please enter a display name, and click the Allow Location button.
                .AllowLocationUnsupported.text-danger
                    span.glyphicon.glyphicon-warning-sign
                    |  Your browser does not appear to support geolocation.
                    br
                    br
                .text-center
                    form(role='form').form-inline
                        .form-group
                            label.sr-only(for='DisplayName') Enter display name
                            input#DisplayName(type='text', placeholder='Enter display name').form-control
                        button.btn.btn-default(type='button')#AllowLocationButton Allow Location