doctype html
html(lang="en")
  head
    title Cards Against Continuity
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="mobile-web-app-capable", content="yes")
    link(rel="icon", href="favicon.ico")
    link(rel="manifest", href="/js/manifest.json")
    link(rel="stylesheet", type="text/css", href="/lib/angular-material/angular-material.min.css")
    link(rel="stylesheet", type="text/css", href="/lib/material-design-icons/iconfont/material-icons.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
  body(ng-app="CardsApp", ng-cloak, layout="column")
    ui-view(flex, layout-fill, layout="column")

    script(src="/lib/angular/angular.min.js")
    script(src="/lib/jquery/dist/jquery.min.js")
    script(src="/lib/angular-animate/angular-animate.min.js")
    script(src="/lib/angular-aria/angular-aria.min.js")
    script(src="/lib/angular-messages/angular-messages.min.js")
    script(src="/lib/angular-material/angular-material.min.js")
    script(src="/lib/angular-route/angular-route.min.js")
    script(src="/lib/angular-ui-router/release/angular-ui-router.min.js")
    script(src="/lib/socket.io-client/socket.io.js")
    script(src="/lib/angular-resource/angular-resource.min.js")
    script(src="/lib/angular-sanitize/angular-sanitize.min.js")
    script(type="text/javascript").
      angular.module('CardsApp.controllers', []);
      angular.module('CardsApp.services', []);
      angular.module('CardsApp.directives', []);
      angular.module('CardsApp.filters', []);
    each file in scripts
      script(src=file)