h4 Active Games: #[span(data-bind='text: ActiveGames().length')]
div(data-bind='foreach: ActiveGames, beforeRemove: HideListElement, afterAdd: ShowListElement')
    h4 Game #[span(data-bind='text: GameID')]
    div
        span Players:
        span.pull-right(data-bind='text: Players().length')
    div
        span Active:
        span.pull-right(data-bind='text: ActivePlayers')
    div
        span Idle Time:
        span.pull-right(data-bind='text: IdleTime')
    br
    br
    button.btn.pull-right.btn-danger(data-bind="click: $parent.DeleteGame") Delete Game