extends ../layout
block content
    script(type="text/javascript").
        GameID = "#{GameID}";
    script(src='/js/backend/CardEditorViewModel.js')
    h4 Welcome, #{user.username}!

    .container
        p Card Editor
        .Loading(data-bind='visible: IsLoading')
        button.btn.btn-large.btn-primary
            span.glyphicon.glyphicon-save Save
        table(data-bind='visible: Cards().length > 0')
            thead
                tr
                    th ID
                    th Type
                    th Text
                    th Answers
                    th Expansion
            tbody(data-bind='foreach: Cards')
                tr
                    td
                        input(data-bind='value: ID')
                    td
                        input(data-bind='value: CardType')
                    td
                        input(data-bind='value: Text')
                    td
                        input(data-bind='value: NumAnswers')
                    td
                        input(data-bind='value: Expansion')