extends ../layout
block content
    script(src='/js/backend/BackEndViewModel.js')
    h4 Welcome, #{user.username}!

    .container
        .row
            .col-md-4
                include ./partials/ActiveGameList.jade
            .col-md-4.col-md-offset-4
                include ./partials/CardSetList.jade
