extends ../layout
block content
    form.LoginForm(method="POST", action="/admin/login")
        h2 Please sign in
        if message
            div.LoginError.text-danger
                span.glyphicon.glyphicon-warning-sign
                |&nbsp;&nbsp;#{message}
        label.sr-only(for="Username") Username
        input#Username.form-control(type="text", placeholder="Username", required, autofocus, name='Username')
        label.sr-only(for="Password") Password
        input#Password.form-control(type="password", placeholder="Password", required, name='Password')
        button.btn.btn-primary.btn-lg.btn-block(type="submit") Sign in